<section class="columns" *ngIf="!userData && !errorData">
  <div class="column is-half is-offset-one-quarter is-text-centered spinner-loader">
    <i class="fas fa-spinner fa-pulse"></i>
  </div>
</section>

<app-not-found *ngIf="errorData" 
  titleMsg = "Error trying to find user!"
  bodyMsg = "It is possible that this user doesn't exist at jsonplaceholder"></app-not-found>

<section *ngIf="userData" class="profile w3-padding-32">
  
  <section class="w3-container">
    <div class="media">
      <div class="media-left">
        <figure class="image is-128x128">
          <img style="border-radius: 100%; object-fit: cover;" src="assets/user.png" alt="Placeholder image">
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4">{{ user ? user.name : '...' }}</p>
        <p class="subtitle is-5">{{ user ? user.email : '...' }}</p>
        <p class="subtitle is-6">
          <strong>Phone:</strong> {{ user ? user.phone : 'nophone' }} <br>
          <strong>Website:</strong> {{ user ? user.website : 'nowebsite' }}
        </p>
      </div>
    </div>
  </section>
  
  <br>
  
  <div class="tabs is-centered">
    <ul>
      <li (click)="setShowing(1)" [ngClass]="{'is-active': showing==1}">
        <a>
          <span class="icon is-small"><i class="far fa-file-alt" aria-hidden="true"></i></span>
          <span>Posts</span>
        </a>
      </li>
      <li (click)="setShowing(2)" [ngClass]="{'is-active': showing==2}">
        <a>
          <span class="icon is-small"><i class="far fa-images" aria-hidden="true"></i></span>
          <span>Albums</span>
        </a>
      </li>
      <li (click)="setShowing(3)" [ngClass]="{'is-active': showing==3}">
        <a>
          <span class="icon is-small"><i class="far fa-check-square" aria-hidden="true"></i></span>
          <span>To do's</span>
        </a>
      </li>
    </ul>
  </div>
  
  <section>
    <app-feed *ngIf="showing == 1 && userData" [posts] = "user.posts"></app-feed>
  </section>

  <section class="w3-container">
    <app-gallery *ngIf="showing == 2 && userData" [albums] = "user.albums" [nameToShow]="user.name"></app-gallery>
    <app-todos *ngIf="showing == 3 && userData" [todos] = "user.todos"></app-todos>
  </section>

</section>