<article *ngIf="!sendingData" style="padding: 10px;" class="media">
  <figure class="media-left">
    <p class="image is-32x32">
      <img style="border-radius: 100%; object-fit: cover;" src="assets/user.png" alt="Placeholder image">
    </p>
  </figure>
  <div class="media-content">
    
    <section>
      <form #f="ngForm" (ngSubmit)="onSubmit(f)">

        <div class="field">
          <input [(ngModel)]="name" style="font-weight: bold" class="w3-input w3-border" type="text" name="name" placeholder="Add a title...">
        </div>
        <div class="field">
          <p class="control">
            <textarea [(ngModel)]="body" name="body" style="resize: none;" rows="3" class="w3-input w3-border" placeholder="Post something..."></textarea>
          </p>
        </div>
        
        <button type="submit" class="w3-button w3-light-grey w3-padding-large w3-block w3-margin-botton"><i class="far fa-comment"></i> Send comment</button>

      </form>      

      <br>
      <p *ngIf="errorPosting" class="has-text-centered">Fill the whole form for comment!</p><br>

    </section>
    
  </div>

</article>

  <section *ngIf="sendingData" class="columns" >
    <div class="column is-half is-offset-one-quarter is-text-centered spinner-loader">
      <i class="fas fa-spinner fa-pulse"></i>
    </div>
  </section>

<p *ngIf="dataReady">
  <b>{{ comments.length }} COMMENTS</b>
</p>
<br>
<section *ngIf="dataReady">
  <div *ngFor="let comment of comments index as i;">
    <article class="media">
      <figure class="media-left">
        <p class="image is-32x32">
          <img src="assets/user.png">
        </p>
      </figure>
      <div class="media-content">
        <div class="content">
          <p>
            <small>{{ comment.email }}</small>
            <br>
            <b>{{ comment.name }}</b><br>
            {{ comment.body }}
          </p>
        </div>
        <!--nav class="level is-mobile">
          <div class="level-left">
            <a class="level-item">
              <span class="icon is-small"><i class="fas fa-reply"></i></span>
            </a>
            <a class="level-item">
              <span class="icon is-small"><i class="fas fa-retweet"></i></span>
            </a>
            <a class="level-item">
              <span class="icon is-small"><i class="fas fa-heart"></i></span>
            </a>
          </div>
        </nav-->
      </div>
    </article>
    <hr *ngIf="comments.indexOf(comment) != comments.length-1" class="w3-opacity">
  </div>
</section>
