<!--The content below is only a placeholder and can be replaced.-->
<div class="columns">
  <aside style="padding:1rem;" class="menu column is-narrow">
    <p class="menu-label">
      General
    </p>
    <ul class="menu-list">
      <li><a class="is-active" routerLink="">Dashboard</a></li>
      <li><a>Home</a></li>
    </ul>
    <p class="menu-label">
      Administration
    </p>
    <ul class="menu-list">
      <li><a>Team Settings</a></li>
      <li>
        <a>Manage Your Team</a>
        <ul>
          <li><a>Members</a></li>
          <li><a>Plugins</a></li>
          <li><a>Add a member</a></li>
        </ul>
      </li>
    </ul>
  </aside>

  <section class="column">
    <router-outlet></router-outlet>
  </section>
</div>
