<div class="spinner-holder" *ngIf="!dataReady">
  <i class="fas fa-spinner fa-pulse"></i>
</div>

<section *ngIf="dataReady" style="padding: 2rem">
  <div *ngFor="let post of posts" class="card">
    <div class="card-content">
      <a [routerLink]="['user',post.userId]" class="media">
        <div class="media-left">
          <figure class="image is-48x48">
            <img style="border-radius: 100%; object-fit: cover;" src="assets/user.png" alt="Placeholder image">
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-6">{{ post.user ? post.user.name : 'No name' }}</p>
          <p class="subtitle is-sm">{{ post.user ? post.user.email: 'No email' }}</p>
        </div>
      </a>

      <p class="title is-4">
        {{ post.title }}
      </p>
      
      <div class="content">
        {{ post.body }}
        <br>
        <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
      </div>
    </div>
    <footer class="card-footer">
      <a [routerLink]="['/post', post.id]" class="card-footer-item">
        <i class="fa fa-comments"></i>
      </a>
      <a class="card-footer-item">
        <i class="fa fa-heart"></i>
      </a>
    </footer>
  </div>
</section>
