/* You can add global styles to this file, and also import other style files */
.spinner-holder{
    padding: 0;
    margin: 0;
    width: auto;
    display: block;
    text-align: center;

    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.spinner-holder > i{
    color: lightgrey;
    font-size: 150px;
    position: fixed;
}