/* You can add global styles to this file, and also import other style files */
.spinner-loader{
    text-align: center;
}

i.fas.fa-spinner{
    margin-top: 10vh;
    color: lightgrey;
    font-size: 140px;
    margin-bottom: 10vh
}